@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.hamburger-icon{
    display: none;
}

.header-logo a {
    grid-area: logo;
    text-decoration: none;
    margin-left: 15%;
    color:black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

.header-nav {
    grid-area: nav;
    text-align: right;
    padding-right: 10%;
}

.header-nav ul li {
    display: inline;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
}

.nav-signup {
    text-transform: uppercase;
    background-color: #c4c4f8;
    border-radius: 50px;
    margin-left: 20px;
}

.header-grid {
    display: grid;
    grid-template-areas: 'logo nav';
    grid-template-columns: auto auto;
    grid-area: header;
    align-items: center;
}

/* Index Page */

.index-h1 {
    color: #123b4f;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 100px;
    grid-area: index-h1;
}

.index-h3 {
    color: #fb9f00;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 14px;
    grid-area: index-h3;
}

.index-header {
    grid-area: index-header;
}

.index-p {
    grid-area: index-p;
    color: #a4a4a4;
    line-height: 2;
    text-align: top;
}

.index-learmore {
    grid-area: index-learnmore;
}

.index-learmore a {
    text-transform: uppercase;
    background-color: #c4c4f8;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 24px;
}

.index-content {
    display: grid;
    grid-template-areas: 'index-header' 'index-p' 'index-learnmore';
    grid-area: index-content;
    align-items: center;
    padding: 10% 0;
    grid-gap: 30px;
}

.index-img {
    grid-area: index-img;
}

.index-img img{
    width: 100%;
    height: auto;
}

.index-grid {
    display: grid;
    grid-template-areas: 'index-content index-img';
    grid-template-columns: auto 50%;
    margin: 0 50px;
    grid-gap: 50px;
    align-items: center;
}

/* Form */

form {
    width: 50%;
}

label {
    display:block;
    font-size: 20px;
}

.form {
    margin: 20px 0;
}

input {
    padding: 5px;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

.submit {
    background-color: #c4c4f8;
    border: 0;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-size: 16px;
}

.main-grid {
    grid-area: main;
}

/* Alerts */

.danger {
    background:#ff9b94;
    padding: 10px;
    border-radius: 10px;     
}

.success {
    background:#b6ffb0;
    padding: 10px;
    border-radius: 10px;  
}

.container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto;
}

.grid {
    display: grid;
    grid-template-areas: 'header' 'main';
    grid-gap: 80px;
    grid-template-rows: 100px auto;
}


/* Mobile Version */

@media screen and (max-width: 800px) {

    /* Header */
    .header-logo a {
        color:white;
    }

    .hamburger-icon {
        grid-area: hamburger-icon;
        display: inline;
        justify-self: right;
        margin-right: 20px;
    }

    .hamburger-icon a {
        font-size: 48px;
        color: white;
    }

    #header-ul {
        display: none;
        grid-area: nav;
    }
      
    #header-ul li {
        color: white;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .header-nav {
        grid-area: nav;
        text-align: center;
        padding-right: 0;
    }

    .header-nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        padding: 10px;
    }

    .nav-signup {
        text-transform: none;
        background-color: transparent;
        border-radius: 0;
        margin-left: 0;
    }

    .header-grid {
        display: grid;
        grid-template-areas: 'logo hamburger-icon' 'nav nav';
        grid-template-columns: auto auto;
        grid-area: header;
        align-items: center;
        background-color: #c4c4f8;
        padding: 10px;
    }

    /* Index page */

    .index-header {
        text-align: center;
    }

    .index-content {
        display: grid;
        grid-template-areas: 'index-header' 'index-p' 'index-learnmore';
        grid-area: index-content;
        justify-items: center;
        align-items: center;
        padding: 0;
        grid-gap: 15px;
    }

    .index-h1 {
        font-size: 80px;
    }
    
    .index-h3 {
        font-size: 35px;
    }

    .index-learmore {
        padding: 10px;
    }
      
    .index-grid {
        display: grid;
        grid-template-areas: 'index-content' 'index-img';
        grid-template-columns: auto;
        align-items: center;
        margin: 0;
        grid-gap: 0;
        grid-gap: 20px;
        padding: 10px;
    }

    form {
        width: 80%;
    }

    /* Alerts */

    .danger, .success {
        margin-top: 20px;
    }

    .grid {
        grid-gap: 0;
        grid-template-rows: auto auto;
    }
}